.alert-severity-group  {
    border-bottom: 1px solid rgba($color-medium-dark, 0.3);
    &.severity-1 {
        border-left: 3rem solid $palette-yellow-400;
    }
    &.severity-2 {
        border-left: 3rem solid $palette-orange-400;
    }
    &.severity-3 {
        border-left: 3rem solid $palette-red-400;
    }
}

.alert-group {
    margin: 0px 1.5rem 2.5rem 1.5rem;
    padding-top: 1.5rem;
}

.alert-group-title {
    font-size: 1.8rem;
    font-weight: 500;
    color: $color-dark;
}

.alert-listing {
    margin: 0.3rem 0px 0px 1.5rem;
}
