#titleContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background: $color-light;
    z-index: 1;
    @include light-shadow();
    .row {
        height: 42px;
    }
    .title-button {
        margin-right: 0.3rem;
        margin-left: 0.7rem;
    }
    .title-button:last-child {
        margin-right: 0.7rem;
    }
    #appTitle {
        padding-left: 31px;
        display: inline-block;
        font-family: "Roboto Mono";
        font-weight: 300;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        font-size: 1.8rem;
        margin: 0px;
    }
    #appSubtitle {
        font-family: "Roboto Mono";
        font-size: 1.2rem;
        color: $color-medium;
        margin-left: 9px;
        text-transform: lowercase;
        font-feature-settings: "onum";
    }
    .buttons-container {
        text-align: right;
        color: $color-medium;
    }
}
