.date-slider-container {
    position: absolute;
    bottom: 0;
    display: block;
    background: $color-medium-light;
    width: 100%;
    height: 5rem;
    width: 100%;
    z-index: 1;
}

.hover-date-display {
    position: absolute;
    top: -4.1rem;
    left: 50%;
    font-size: 1.51rem;
    padding: 0.5rem 0.8rem;
    background: $color-primary;
    @include font-roboto-mono();
    border-radius: 2px;
    color: $color-light;
    border: none;
    transform: translate(-50%, 0px);
    @include medium-shadow();
    z-index: 3;
}

.hover-date-display:after,
.hover-date-display:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.hover-date-display:after {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: darken($color-primary, 20%);
    border-width: 10px;
    margin-left: -10px;
}

.hover-date-display:before {
    border-color: rgba(0, 0, 0, 0);
    height: 35px;
    width: 2px;
    margin-left: -1px;
    border: none;
}

.resolution-step {
    width: 100%;
}

#dateSliderContainer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 50px;
    @include medium-shadow();
}

#dateSlider {
    @include font-roboto-mono();
    font-size: 1.4rem;
    .timeAxis {
        cursor: pointer;
        &.dragging {
            cursor: grabbing;
        }
    }
    .domain {
        fill: none;
        stroke: none;
    }
    rect,
    rect#chart-bounds {
        fill: transparent;
    }
    rect#chart-bounds,
    .tick {
        shape-rendering: crispEdges;
        text {
            fill: $color-medium-dark;
            font-weight: 400;
            &.default {
                font-weight: 400;
            }
            &.year {
                font-weight: 700;
            }
            &.month {
                font-weight: 500;
            }
            &.day {
                font-weight: 400;
            }
            &.hour {
                font-weight: 400;
            }
            &.future-date {
                fill: $color-medium;
            }
        }
        line {
            stroke: $color-medium;
            &.future-date {
                stroke: $color-medium;
            }
        }
    }
    .single-date {
        position: absolute;
        fill: $color-primary;
        fill-opacity: 1;
        stroke: $color-light;
        stroke-width: 2;
        stroke-opacity: 1;
        cursor: grab;
        &.dragging {
            cursor: grabbing;
        }
    }
    .timeline-horiz-axis {
        position: absolute;
        stroke: lighten($color-medium, 5%);
        stroke-width: 2;
        shape-rendering: crispEdges;
        stroke-opacity: 1;
    }
}

#dateSliderResolutionStepContainer {
    position: absolute;
    top: 0px;
    right: 0px;
    @include font-roboto-mono();
    text-transform: capitalize;
    text-align: center;
    font-weight: 400;
    z-index: 1;
    width: 70px;
    height: 5rem;
    background: white;
    @include light-shadow();
    button {
        font-size: 1.15rem;
        padding-left: 1px;
        padding-right: 1px;
    }
    &:hover {
        .increment-button {
            opacity: 1;
        }
    }
    .resolution-selector {
        position: absolute;
        width: 56px;
        height: auto;
        opacity: 0;
        pointer-events: none;
        background: $color-light;
        top: -140%;
        left: 50%;
        transform: translate(-50%, 0px);
        border-radius: 2px;
        transition: opacity 0.2s linear 0s, top 0s linear 0.21s;
        @include medium-shadow();
    }
    .timeline-zoom {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}
