.date-picker-selection {
    position: relative;
    text-align: center;
    padding: 0px 0.3rem;
    input {
        font-family: "Roboto Mono";
        text-align: center;
        font-weight: 300;
        padding: 0.2rem 0px;
    }
    [data-react-toolbox="input"] {
        padding: 0px;
    }
    [data-react-toolbox="input"]::after {
        display: none;
    }
    [data-react-toolbox="autocomplete"] {
        padding: 0px;
    }
    [data-react-toolbox="autocomplete"] ul {
        color: $color-dark;
        list-style-type: none;
        padding: 0px;
        margin-bottom: 2.5rem;
        font-family: "Roboto Mono";
        li {
            padding: 0.5rem 0px;
            text-align: center;
        }
    }
}

.date-picker .date-picker-selection-increment {
    opacity: 0;
    transition: opacity 0.1s linear 0s;
}
.date-picker:hover .date-picker-selection-increment {
    opacity: 1;
}

.date-picker-selection-increment button {
    font-size: 1.15rem;
    padding: 0.3rem;
    line-height: 1rem;
    min-width: initial;
    max-width: 100%;
    width: 100%;
    height: initial;
    text-align: center;
}

.date-picker-selection-increment button > [data-react-toolbox="font-icon"] {
    margin: 0px;
    height: auto;
    font-size: 3rem;
    line-height: 1rem !important;
    max-width: 100%;
}

#datePickerContainer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    width: 200px;
    padding: 0px 0.5rem;
    height: 6rem;
    // background: $color-primary;
    background: white;
    border-top-right-radius: 2px;
    @include medium-shadow();
}

