.date-picker-selection {
    position: relative;
    text-align: center;
    padding: 0.25rem 1rem;
    input {
        @include font-roboto-mono();
        text-align: center;
        font-weight: 400;
        padding: 0px;
    }
    [data-react-toolbox="input"] {
        padding: 0px;
    }
    [data-react-toolbox="input"]::after {
        display: none;
    }
}

.date-picker {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    &:hover {
        .increment-button {
            opacity: 1;
        }
    }
}

#datePickerContainer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    width: 200px;
    padding: 0px;
    height: 6rem;
    background: white;
    border-top-right-radius: 2px;
    @include medium-shadow();
}
