.layer-control {
    position: relative;
    padding: 0.7rem 0.5rem 0.7rem 0rem;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    border-bottom: 1px solid $color-medium-light;
    display: block;
    letter-spacing: 0.02rem;
    &:last-child {
        border-bottom: none;
    }
    .lower-content {
        height: 0px;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s linear 0.1s, height 0.2s linear 0s;
        .layer-order-label {
            position: relative;
            text-shadow: 1px 1px 0px white, -1px -1px 0px white;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            left: -22px;
            top: -13px;
            color: rgb(0, 0, 0);
            font-size: 1.3rem;
            font-weight: 600;
            width: 2px;
            height: 8px;
            display: inline-block;
            -webkit-font-smoothing: subpixel-antialiased;
            background: white;
            transition: color 0.2s $animation-curve-default;
            &.active {
                color: $color-primary;
            }
        }
    }
    .inactive-info-btn {
        display: block;
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
        transition: opacity 0.2s linear 0.1s, visibility 0s linear 0s;
    }
    &.active {
        .lower-content {
            height: 35px;
            opacity: 1;
            transition: opacity 0.2s linear 0.1s, height 0.2s linear 0s;
            pointer-events: auto;
        }
        .inactive-info-btn {
            visibility: hidden;
            pointer-events: none;
            opacity: 0;
        }
    }
    .layer-header {
        padding: 0px;
        margin: 0.5rem 0px;
        font-size: 1.4rem;
        color: $color-dark;
    }
    .layer-toggle {
        margin: 0px;
        height: 2rem;
        display: inline-block;
        .switch-thumb-on,
        .switch-thumb-off {
            width: 3rem;
            height: 1rem;
            margin-top: 0.5rem;
        }
        .switch-thumb {
            top: -0.26rem;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    .layer-pallete-icon {
        padding: 0px;
    }
    .colorbar-container {
        width: 255px;
        line-height: 1.2rem;
        margin-left: 1.3rem;
        height: 12px;
        background-repeat: repeat;
        background-size: 50%;
        position: relative;
        background-color: $color-medium-light;
        &.no-colorbar {
            height: 16px;
        }
    }
    .colorbar-warning {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        text-transform: uppercase;
        font-size: 1rem;
        transform: translate(-50%, -50%);
        background: $color-medium-light;
        padding: 0px 0.8rem;
        color: $color-medium;
        letter-spacing: 0.075rem;
        font-weight: 600;
        font-family: "Roboto Mono";
    }
    .colorbar {
        width: 255px;
        height: 12px;
    }
    .colorbar-label-container {
        margin-left: 1.3rem;
        height: 1rem;
        line-height: 1rem;
        width: 255px;
        font-family: "Roboto Mono";
    }
    .colorbar-label {
        font-size: 1.1rem;
        position: absolute;
        top: 0px;
    }
    .colorbar-label.min {
        left: 0px;
    }
    .colorbar-label.mid {
        left: 50%;
        transform: translate(-50%, 0px);
    }
    .colorbar-label.max {
        right: 0px;
    }
    .opacity-slider-container {
        .opacity-slider-content {
            padding: 0.5rem;
            padding-right: 1rem;
            width: 100%;
            height: auto;
        }
        width: 18rem;
        position: absolute;
        top: 0.5rem;
        right: 6.7rem;
    }
    .position-controls-container {
        width: 16rem;
        height: 7rem;
        position: absolute;
        top: 0.2rem;
        right: 9.3rem;
        padding: 0px !important;
        text-align: center;
    }
    .position-controls-container,
    .opacity-slider-container {
        z-index: 0;
        opacity: 0;
        visibility: hidden;
        border-radius: 2px;
        background: $color-light;
        transition: opacity 0.2s linear 0s, visibility 0s linear 0.21s, z-index 0.21s linear 0s;
        @include medium-shadow();
    }
    .opacity-slider-container.active,
    .position-controls-container.active {
        transition: opacity 0s linear 0s, visibility 0s linear 0s;
        opacity: 1;
        z-index: 2;
        visibility: visible;
    }
    .opacity-slider-container:after,
    .opacity-slider-container:before,
    .position-controls-container:after,
    .position-controls-container:before {
        left: 100%;
        top: 50%;
        border: solid red;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .opacity-slider-container:after,
    .position-controls-container:after {
        border-color: rgba(0, 0, 0, 0);
        border-left-color: $color-light;
        border-width: 10px;
        margin-top: -1px;
    }
    .opacity-slider-container:before,
    .position-controls-container:before {
        border-color: rgba(194, 225, 245, 0);
        border-left-color: rgba(0, 0, 0, 0.2);
        border-width: 11px;
        margin-top: -1px;
    }
    .opacity-label {
        text-align: right;
        font-family: "Roboto Mono";
    }
    .colorbar-range-wrapper {
        visibility: hidden;
        &.active {
            visibility: visible;
        }
    }
}

.layer-menu-header {
    color: $color-light;
    font-weight: 500;
}

.layer-menu-note {
    letter-spacing: 0.09rem;
    background: $color-light;
    font-family: "Roboto Mono";
    font-size: 0.8em;
    line-height: 1rem;
    margin: 0px 15px;
    padding: 0.2rem 1rem;
    top: -1px;
    @include light-shadow();
    position: relative;
    font-weight: 400;
    border-radius: 2px;
    color: $color-medium-dark;
    .layer-menu-note-active {
        color: $color-primary;
    }
}

button.position-control-button {
    font-size: 1.2rem;
    height: 2.4rem;
    min-width: initial;
}

#layerMenu {
    width: 370px;
    position: absolute;
    top: 42px;
    right: 10px;
    z-index: 0;
    background: $color-light;
    overflow: visible;
    padding: 0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    @include light-shadow();
    .row {
        margin: 0px;
    }
}

#layerHeaderRow {
    z-index: 1;
    position: relative;
    padding: 0.3rem;
    width: 100%;
    height: 31px;
    color: $color-light;
    background: $color-primary;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    @include light-shadow();
}

#layerMenuContent {
    z-index: 0;
    display: block;
    height: initial;
    min-height: 0px;
    max-height: 0px;
    opacity: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    background: $color-light;
    transition: max-height 0.3s ease-out 0s, opacity 0.2s linear 0s;
    @include light-shadow();
    .toggle {
        padding-left: 1.3rem;
        padding-right: 0px;
    }
    .border {
        border-bottom: $medium-light-border;
        padding-bottom: 0.7rem;
    }
    .__react_component_tooltip.place-left:before,
    .__react_component_tooltip.place-left:after {
        /* OVERRIDES FOR TOOLTIP IN SCROLL */
        font-size: 0px;
        left: 27px;
        position: relative;
        bottom: 4px;
    }
}

#layerMenu.open #layerHeaderRow {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#layerMenu.open #layerMenuContent {
    max-height: calc(80vh - 130px);
    opacity: 1;
    transition: max-height 0.5s ease-out 0s, opacity 0.2s linear 0s;
}
