.layer-info {
    width: 450px;
    position: relative;
    overflow: hidden;
    h2 {
        color: $color-text;
        margin-bottom: 0px;
    }
    h3 {
        color: $color-text;
        margin-top: 0px;
        margin-bottom: 1rem;
    }
    p {
        color: $color-text-secondary;
    }
    section {
        padding: 0px;
        overflow: hidden;
        overflow-y: auto;
    }
    nav {
        display: none;
    }
    span[data-react-toolbox="font-icon"]:not(.material-icons) {
        line-height: 16.1px;
    }
    .layer-info-loading,
    .layer-info-error {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: $color-light;
        opacity: 0;
        z-index: 1;
        pointer-events: none;
        visibility: hidden;
        transition: opacity 0.2s linear 0s, visibility 0s linear 0.21s;
        &.active {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
        }
    }
    .layer-info-loading {
        .layer-info-spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .layer-info-error {
        text-align: center;
        color: $color-medium;
        background: $color-medium-light;
        .error-content-container {
            top: 36%;
            position: relative;
        }
        .error-message {
            font-weight: 500;
            font-size: 1.5rem;
            padding-top: 1rem;
        }
        .material-icons {
            font-size: 10rem;
        }
    }
    .thumbnail-image {
        opacity: 0;
        background-size: cover;
        width: 100%;
        height: 200px;
        background-position: 50% 50%;
        border-top-right-radius: 0.2rem;
        border-top-left-radius: 0.2rem;
    }
    .layer-info-list > li > span {
        padding-left: 0.1rem;
        & > span > span {
            margin-right: 0rem;
        }
    }
    .layer-info-content {
        padding: 1rem 1.6rem;
    }
}
