.loading-spinner {
    position: relative;
    height: 19px;
    width: 19px;
    display: inline-block;
    &:before {
        content: '';
        display: block;
        padding-top: 100%;
    }
    .circular {
        stroke-width: 5px;
        stroke-miterlimit: 10;
        -webkit-animation: rotate 2s linear infinite;
        animation: rotate 2s linear infinite;
        height: 100%;
        -webkit-transform-origin: center center;
        transform-origin: center center;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke: #ec407a;
        -webkit-animation: dash 1.5s ease-in-out infinite;
        animation: dash 1.5s ease-in-out infinite;
        stroke-linecap: round;
    }
}
