#mapToolsMenu {
    position: absolute;
    left: 107px;
    bottom: 75px;
    transition: opacity 0.2s linear 0s, top 0s linear 0.21s;
    opacity: 0;
    pointer-events: none;
    &:not(.active) { 
        // visibility: hidden;
    }
    &.active {
        opacity: 1;
        transition: opacity 0s linear 0s, top 0s linear 0s;
        pointer-events: all;
    }
    &:after,
    &:before {
        left: -23px;
        top: 86%;
        border: solid red;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:before {
        border-color: rgba(194, 225, 245, 0);
        border-right-color: rgba(0, 0, 0, 0.08);
        border-width: 11px;
        margin-top: -11px;
    }
    &:after {
        border-color: transparent;
        border-right-color: $color-light;
        border-width: 11px;
        margin-top: -11px;
        margin-left: 2px;
    }
    [data-react-toolbox="menu-item"] {
        height: inherit;
        padding: 0px;
    }
}

#mapControls {
    position: absolute;
    bottom: 65px;
    width: 76px;
    bottom: 75px;
    left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-flow: column wrap;
    align-content: flex-start;
    height: 114px;
    @include light-shadow();
    .primary-map-button {
        position: relative;
        border-radius: 0px;
        display: inline-block;
        display: -webkit-box;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: white;
        width: 38px;
        height: 38px;
        position: relative;
        min-width: 0rem;
        [data-react-toolbox="font-icon"] {
            margin: 0px !important;
        }
        &:first-child {
            border-top-left-radius: 2px;
            border-bottom: 1px solid #e5e5df;
            border-right: 1px solid #e5e5df;
            padding-left: 1px;
        }
        &:nth-child(2) {
            border-bottom: 1px solid #e5e5df;
            border-right: 1px solid #e5e5df;
            padding-left: 1px;
        }
        &:nth-child(3) {
            border-bottom-left-radius: 2px;
            border-right: 1px solid #e5e5df;
            padding-left: 1px;
        }
        &:nth-child(4) {
            border-top-right-radius: 2px;
            border-bottom: 1px solid #e5e5df;
        }
        &:nth-child(5) {
            border-bottom: 1px solid #e5e5df;
        }
        &:last-child {
            border-bottom-right-radius: 2px;
        }
        &:focus {
            background: rgb(209, 209, 209);
        }
    }
}

.map-image-tile {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

.map-scale-container {
    background: $color-light;
    color: $color-dark;
    width: 200px;
    border-radius: 0px;
    border-top-right-radius: 4px;
    position: absolute;
    left: 21.7rem;
    bottom: 0px;
    padding: 0.4rem 0px;
    line-height: 1.1;
    text-align: center;
    @include light-shadow-right();
    border-right: $medium-light-border;
    border-top: $medium-light-border;
    display: none;
}

.map-scale-container-inner {
    border: 1px solid $color-dark;
    border-top: none;
    font-size: 1.2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    will-change: contents, width;
}

.mouse-position-container {
    background: $color-light;
    color: $color-dark;
    width: 21rem;
    border-radius: 0px;
    font-size: 1.4rem;
    border-top-left-radius: 4px;
    position: absolute;
    left: 0.7rem;
    bottom: 0rem;
    padding: 0.4rem 0px;
    padding-left: 0.7rem;
    line-height: 1;
    @include light-shadow-left();
    border-left: $medium-light-border;
    border-top: $medium-light-border;
    display: none;
}

.mouse-position-container.isolate {
    border-right: $medium-light-border;
    border-top-right-radius: 4px;
}

.mouse-position-container.invalid {
    font-style: italic;
    font-size: 1.3rem;
}

.mouse-position-label {
    font-weight: 500;
    font-size: 1.4rem;
    font-style: normal;
    margin-right: 0.7rem;
}

.projection-string {
    font-weight: 400;
    letter-spacing: 0.02rem;
}

.mouse-position-string {
    margin-left: 1rem;
}

.cesium-viewer-bottom {
    display: none;
}

#mapContainer,
#mapContainer2D,
#mapContainer3D {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
    display: block;
}

#mapContainer {
    background-color: $color-dark;
    @include animation(opacityWithDisplayAnimationShow, 0.5s);
}

#mapContainer2D,
#mapContainer3D {
    background-color: darken($color-medium-light, 15%);
    @include animation(opacityWithDisplayAnimationShow, 0.5s);
}

#map2D,
#map3D {
    width: 100%;
    height: 100%;
}

#mapContainer2D.inactive,
#mapContainer3D.inactive {
    opacity: 0;
    display: none;
    @include animation(opacityWithDisplayAnimationHide, 0.5s);
}

.cesium-viewer-bottom {
    display: none;
}

.cesium-viewer-vrContainer {
    // position: absolute;
    bottom: 5%;
    left: 8%;
    // padding: 0;
    width: 29px;
    height: 29px;
    // overflow: hidden;
}

.tooltip {
    position: relative;
    background: white;
    border-radius: 2px;
    padding: 4px 8px;
    white-space: nowrap;
    font-family: "Roboto Mono";
    color: $color-text-secondary;
    @include light-shadow();
}

.testing {
    color: red !important;
    background: green !important;
}

.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.tooltip-static {
    color: black;
    border: 1px solid white;
}

.tooltip-measure:after,
.tooltip-static:after {
    border-top: 8px solid $color-medium-light;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: "";
    position: absolute;
    bottom: -9px;
    margin-left: -9px;
    left: 50%;
}
