#mouseCoordinateTracker {
    position: absolute;
    bottom: 60px;
    right: 1rem;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    @include light-shadow();
    @include selectable(auto);
    transition: opacity 0.2s linear 0s, visibility 0s linear 0.21s, z-index 0s linear 0.21s;
    &.active {
        transition: opacity 0s linear 0s, visibility 0s linear 0s;
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        z-index: 0;
        &.distraction-free {
            transition: opacity 0.2s linear 0s, visibility 0s linear 0s, z-index 0s linear 0s;
        }
    }
    .current-coordinate {
        padding: 0.3rem 1rem;
        border-radius: 0.2rem;
    }
}
