.current-coordinate {
    background: rgba($color-dark, 0.7);
    font-family: "Roboto Mono";
    font-weight: 600;
    font-size: 1.2rem;
    color: $color-light;
    width: 100%;
    height: 100%;
}

.mouse-follower-container {
    position: fixed;
    z-index: -1;
    background: none;
    margin: 0px;
    transform: translate(25px, -51%);
    visibility: hidden;
    pointer-events: none;
    border-radius: 2px;
    @include medium-shadow();
    &.active {
        visibility: visible;
        z-index: 1;
    }
    &.right {
        transform: translate(calc(-100% - 25px), -51%);
    }
    .content-container {
        background: $color-light;
        color: $color-dark;
        position: relative;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        @include light-shadow();
    }
    .current-coordinate {
        padding: 0.3rem 1rem;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        background: $color-medium-light;
        color: rgba($color-dark, 0.8);
    }
    &.dark {
        .content-container {
            background: rgba($color-dark, 0.85);
            color: $color-light;
        }
        .current-coordinate {
            background: rgba($color-dark, 0.7);
            color: $color-light;
        }
    }
}
