.basemap-dropdown-item {
    .basemap-preview-img {
        position: relative;
        min-width: initial;
        width: 50px;
        height: 50px;
        display: inline-block;
    }
    .item-label {
        display: inline-block;
        width: calc(100% - 50px);
    }
}
