@import "../../assets/assets/normalize/normalize.css";
@import "../../assets/assets/flexboxgrid/flexboxgrid.min.css";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    font-size: 62.5%;
    font-family: 'roboto', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 400;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-size: 1.4rem;
    background-color: $color-dark;
    cursor: default;
    overflow: hidden !important;
    color: #212121;
    letter-spacing: 0.02rem;
    @include selectable(none);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

p {
    font-weight: 400;
    color: #212121;
    line-height: 2rem;
}

hr.divider {
    height: 0.1rem;
    background-color: $color-medium-light;
    border: 0;
    width: 90%;
}

hr.divider.wide {
    width: 100%
}

hr.divider.medium {
    background-color: $color-medium;
}

hr.divider.dark {
    background-color: $color-dark;
}

.hidden {
    display: none !important;
}

.hidden-fade-in {
    opacity: 1;
    transition: opacity 0.2s linear 0s;
    // @include animation(opacityWithDisplayAnimationShow, 0.5s);
}

.hidden-fade-out {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s linear 0s;
    // @include animation(opacityWithDisplayAnimationHide, 0.5s);
}

.mouse-hidden {
    cursor: none;
}

.mouse-shown {
    cursor: initial;
}

.full-size {
    width: 100% !important;
    height: 100% !important;
}

.full-width {
    width: 100% !important;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-wrap {
    white-space: normal;
    word-wrap: break-word;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-uppercase {
    text-transform: uppercase;
}

.no-wrap {
    white-space: nowrap;
    word-wrap: normal;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

button[data-react-toolbox="button"] {
    line-height: 2rem;
    padding: 0px;
}

button > .material-icons[data-react-toolbox="font-icon"] {
    line-height: 1 !important;
}

button.small {
    font-size: 1.15rem;
    padding: 0.5rem 0.8rem;
    min-width: initial;
    line-height: 1.15rem;
    height: auto;
}

button.mini-xs {
    width: 3.3rem;
    height: 3.3rem;
    font-size: 1.5rem;
}

button.mini-xs > [data-react-toolbox="font-icon"] {
    font-size: 20px;
    line-height: 1;
    margin-left: 1px;
}

button.mini-xs-waysmall {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.2rem;
}

button.mini-xs-waysmall > [data-react-toolbox="font-icon"] {
    font-size: 2.2rem;
    line-height: 2.2rem;
    width: 2.2rem;
}

button.mini-xs-waysmall i {
    font-size: 1.8rem;
    line-height: 2.2rem;
    width: 2.2rem;
}

button.mini-xs-waysmall.small-text {
    font-size: 1.2rem;
    min-width: initial;
    width: auto;
    height: 2rem;
}

button .button-icon-right {
    position: absolute;
    right: 0;
    top: 50%;
    margin: 0px;
    transform: translate(0px, -50%);
}

.button-icon {
    vertical-align: middle;
    line-height: 1rem;
}

.rotate-90 {
    @include rotate(90deg)
}

.rotate-270 {
    @include rotate(270deg)
}

.pos-rel {
    position: relative;
}

.list-sub-header {
    margin-top: 1rem;
    line-height: 3rem;
}

.list-item-dropdown {
    padding: 0px 1.6rem 0.2rem 1.6rem;
    ul {
        padding: 0px;
        width: calc(100% - 3.2rem)
    }
    &.small {
        .dropdown-item-label {
            font-size: 1.2rem;
        }
        div:nth-of-type(2) {
            padding: 0px;
            div:nth-of-type(1) {
                padding: 0px;
                padding-bottom: 0.2rem;
                min-height: auto;
                &:after {
                    transform: translate(0px, -50%);
                }
            }
        }
        ul {
            margin: 0px;
        }
    }
}

.dropdown-item-label {
    font-size: 1.6rem;
    font-weight: normal;
    color: $color-dark;
    margin-right: 1rem;
}

.menu-check-box > [data-react-toolbox="checkbox"] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 4.8rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    cursor: pointer;
}

.link-text {
    color: $color-primary;
    cursor: pointer;
}

.link-text:hover {
    color: $color-primary;
}

.react-context-menu-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.react-context-menu {
    background: $color-light;
    color: $color-dark;
    padding: 0px;
    @include light-shadow();
}

.react-context-menu:focus {
    outline: none;
}

.context-menu-item {
    width: 100%;
    min-width: 150px;
    text-align: left;
}

.context-menu-item.submenu {
    position: relative;
}

.context-menu-sub-menu {
    position: absolute;
    // display: none;
    visibility: hidden;
    background: $color-light;
    @include light-shadow();
    &.active {
        // display: block;
        visibility: visible;
    }
    &.top {
        top: 0px;
    }
    &.bottom {
        bottom: 0px;
    }
    &.left {
        right: 100%;
    }
    &.right {
        left: 100%;
    }
}

.context-menu-icon,
.context-menu-item > [data-react-toolbox="font-icon"] {
    margin: 0;
    line-height: 3.6rem !important;
    margin-right: 1rem;
    font-size: 2rem !important;
    vertical-align: middle;
}

button.context-menu-item {
    padding: 0px 1.2rem;
}

#appContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}


/* imports */

@import "appBar.scss";
@import "alerts.scss";
@import "help.scss";
@import "settings.scss";
@import "share.scss";
@import "layerMenu.scss";
@import "layerInfo.scss";
@import "map.scss";
@import "dateSlider.scss";
@import "datePicker.scss";
@import "modalMenu.scss";
@import "mouseFollower.scss";
@import "loadingSpinner.scss";
@import "drawingTooltip.scss";

/* end imports */
