/* colors */

// $color-primary: $palette-blue-grey-500 !default;
$color-primary: $palette-blue-500 !default;
// $color-primary-dark: $palette-blue-grey-700 !default;
$color-primary-dark: $palette-blue-700 !default;
$color-primary-light: $palette-blue-grey-100 !default;
$color-accent: $palette-light-green-500 !default;
$color-accent-dark: $palette-light-green-700 !default;
$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default;

/* neutrals */

$color-dark: $palette-grey-900;
$color-medium: $palette-grey-500;
$color-medium-light: $palette-grey-200;
$color-light: $palette-grey-50;

/* text */

$color-text: $palette-grey-900 !default;
$color-text-secondary: $palette-grey-600 !default;

/* misc */

$color-background: $color-light !default;
$color-divider: $palette-grey-300 !default;

