/* colors */

$color-primary: $palette-grey-800 !default;
$color-primary-dark: $palette-grey-900 !default;
$color-accent: $palette-indigo-500 !default;
$color-accent-dark: $palette-indigo-700 !default;
$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default;

/* neutrals */

$color-dark: $palette-grey-900;
$color-medium: $palette-grey-500;
$color-medium-light: $palette-grey-200;
$color-light: $palette-grey-50;

/* text */

$color-text: $palette-grey-900 !default;
$color-text-secondary: $palette-grey-600 !default;

/* misc */

$color-background: $color-light !default;
$color-divider: $palette-grey-200 !default;

