@import "theme";
@import "~react-toolbox/lib/globals";

/* fonts */
@mixin font-roboto() {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

@mixin font-roboto-mono() {
    font-family: "Roboto Mono", monospace;
}

/* borders */

$medium-light-border: 1px solid $color-medium-light;
$medium-border: 1px solid $color-medium;
$dark-border: 1px solid $color-dark;
$light-border: 1px solid $color-light;

/* shadows */

@mixin light-shadow() {
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

@mixin light-shadow-left() {
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.06), -1px 1px 1px 0 rgba(0, 0, 0, 0.12);
}

@mixin light-shadow-right() {
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.06), 1px 1px 1px 0 rgba(0, 0, 0, 0.12);
}

@mixin medium-shadow() {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.258824), 0 2px 10px 0 rgba(0, 0, 0, 0.156863);
}

/* selection */

@mixin selectable($sel) {
    user-select: $sel;
}

/* flex */

@mixin flex() {
    display: flex;
}

@mixin flex-col() {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@mixin flex-grow($amount) {
    -webkit-box-flex: $amount;
    -webkit-flex-grow: $amount;
    -ms-flex-positive: $amount;
    flex-grow: $amount;
}

/* rotate */

@mixin rotate($amount) {
    transform: rotate($amount);
}

/* animtion */

@mixin animation($name, $duration) {
    animation: $name $duration both;
}

/* KEYFRAME ANIMATIONS */

/* opacity w/display HIDE */

@keyframes opacityWithDisplayAnimationHide {
    0% {
        opacity: 1;
        display: block;
    }
    99% {
        display: none;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes opacityWithDisplayAnimationShow {
    0% {
        opacity: 0;
        display: none;
    }
    1% {
        display: none;
    }
    100% {
        opacity: 1;
        display: block;
    }
}

/* rotations for loader */

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
