.alert-group {
    padding: 1rem 0px 3rem 1.5rem;
    &.severity-1 {
        border-left: 1rem solid $palette-yellow-400;
        border-right: 1rem solid $palette-yellow-400;
    }
    &.severity-2 {
        border-left: 1rem solid $palette-orange-400;
        border-right: 1rem solid $palette-orange-400;
    }
    &.severity-3 {
        border-left: 1rem solid $palette-red-400;
        border-right: 1rem solid $palette-red-400;
    }
}

.alert-group-title {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: $color-dark;
}

.alert-listing {
    margin: 0.3rem 0px 0px 1.5rem;
}
