.dataset-listing {
	padding: 0rem 1.6rem;
}
.dataset-summary-header {
	font-weight: 400;
	font-size: 1.3rem;
	letter-spacing: 0.01rem;
}
.dataset-summary-value {
	font-weight: 300;
	font-size: 1.2rem;
	letter-spacing: 0.01rem;
}
.dataset-listing-summary {
	margin-bottom: 1rem;
}