#dateSlider {
    .timeAxis {
        cursor: -webkit-grab;
        cursor: grab;
    }
    position: relative;
    display: block;
    height: 200px;
    width: 100%;
    margin-top: -3px;
    .domain {
        fill: none;
        stroke: none;
    }
    rect,
    rect#chart-bounds {
        fill: transparent;
    }
    rect#chart-bounds,
    #x-axis .tick {
        &:active {
            cursor: -webkit-grabbing;
        }
    }
    .tick {
        text {
            fill: $color-text-secondary;
        }
        line {
            stroke: $color-text-secondary;
        }
    }
    .singleDate {
        fill: $color-accent;
    }
}
