.date-slider-container {
    position: relative;
    display: block;
    // background: darken($color-primary-dark, 20%);
    background: #e2e2e2;
    width: 100%;
    height: 6rem;
    width: 100%;
    z-index: 1;
}

.hover-date-display {
    position: absolute;
    top: -4.3rem;
    left: 50%;
    font-size: 1.5rem;
    padding: 0.5rem 0.8rem;
    background: $color-accent;
    font-family: "Roboto Mono";
    border-radius: 2px;
    color: $color-light;
    // border: 2px solid $color-accent;
    border: none;
    transform: translate(-50%, 0px);
    @include medium-shadow();
    z-index: 3;
}

.hover-date-display:after,
.hover-date-display:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.hover-date-display:after {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: darken($color-accent, 20%);
    border-width: 10px;
    margin-left: -10px;
}

.hover-date-display:before {
    border-color: rgba(0, 0, 0, 0);
    // border-top-color: $color-accent;
    border-width: 13px;
    margin-left: -13px;
}

.resolution-step {
    width: 100%;
}

#dateSliderContainer {
    position: relative;
    width: 100%;
}

#dateSlider {
    font-family: "Roboto Mono";
    font-size: 1.3rem;
    .timeAxis {
        cursor: pointer;
        &.dragging {
            cursor: -webkit-grabbing;
            cursor: grabbing;
        }
    }
    .domain {
        fill: none;
        stroke: none;
    }
    rect,
    rect#chart-bounds {
        fill: transparent;
    }
    rect#chart-bounds,
    .tick {
        text {
            fill: $color-text;
            font-weight: 300;
            &.tick-text-default {
                // fill: $color-text-secondary;
                font-weight: 300;
            }
            &.tick-text-year {
                font-weight: 400;
            }
            &.tick-text-month {
                font-weight: 300;
            }
            &.tick-text-day {
                font-weight: 300;
            }
            &.tick-text-hour {
                font-weight: 300;
            }
        }
        line {
            stroke: $color-text-secondary;
            &.tick-line-default {
                stroke: $color-text-secondary;
            }
            &.tick-line-year {
                stroke: $color-text;
            }
            // &.tick-line-month {
            //     stroke: $color-text-secondary;
            // }
            // &.tick-line-day {
            //     stroke: $color-text-secondary;
            // }
            // &.tick-line-hour {
            //     stroke: $color-text-secondary;
            // }
        }
    }
    .singleDate {
        position: absolute;
        height: 30px;
        fill: $color-accent;
        cursor: -webkit-grab;
        cursor: grab;
        &.dragging {
            cursor: -webkit-grabbing;
            cursor: grabbing;
            height: 50px;
        }
    }
}

#dateSliderResolutionStepContainer {
    position: absolute;
    top: 0px;
    font-family: "Roboto Mono";
    font-weight: 300;
    right: 0px;
    z-index: 1;
    width: 100px;
    height: 6rem;
    background: white;
    @include medium-shadow();
    button {
        font-weight: 400;
        font-family: "Roboto Mono";
    }
}
