.dateSliderContainer {
    position: relative;
    display: block;
    background: darken($color-primary, 20%);
    width: 100%;
    left: 0;
    top: -3px;
    z-index: 1;
}

#dateSlider {
    .timeAxis {
        cursor: -webkit-grab;
        cursor: grab;
    }
    position: relative;
    display: block;
    height: 200px;
    width: 100%;
    margin-top: -3px;
    .domain {
        fill: none;
        stroke: none;
    }
    rect,
    rect#chart-bounds {
        fill: transparent;
    }
    rect#chart-bounds,
    #x-axis .tick {
        &:active {
            cursor: -webkit-grabbing;
        }
    }
    .tick {
        text {
            fill: darken(white, 30%);
        }
        line {
            stroke: darken(white, 30%);
        }
    }
    .singleDate {
        fill: $color-accent;
    }
}
