.help-page {
    color: initial;
    padding: 0 1.6rem;
    height: 412px;
    overflow: auto;
    h1 {
        margin: 0;
        font-size: 2.4rem;
    }
    h2 {
        font-size: 2rem;
        margin: 24px 0 8px;
    }
    h3 {
        color: grey;
    }
}
