.layer-control {
    padding: 0.7rem 0rem;
    width: 100%;
    margin: 0px;
    border-bottom: 1px solid $color-medium-light;
}

.layer-control:last-child {
    border-bottom: none;
    /*padding-bottom: 0px;*/
}

.layer-header {
    padding: 0px;
    margin: 0.5rem 0px;
    font-size: 1.4rem;
}

.layer-toggle {
    margin: 0px;
    height: 2rem;
    display: inline-block;
}

.layer-toggle > span {
    width: 3rem;
    height: 1rem;
    margin-top: 0.5rem;
}

.layer-toggle.active > span {
    background: rgba($color-accent, .5);
}

.layer-toggle span[role="thumb"] {
    top: -0.26rem;
    width: 1.5rem;
    height: 1.5rem;
    left: 0rem;
}

.layer-toggle.active span[role="thumb"] {
    left: 1.5rem;
    background: $color-accent;
}

.layer-pallete-icon {
    padding: 0px;
}

.colorbar-container {
    width: 255px;
    line-height: 1.2rem;
    margin-left: 1.3rem;
    height: 12px;
    background-repeat: repeat;
    background-size: 50%;
    position: relative;
    background-color: $color-medium-light;
    &.no-colorbar {
        height: 16px;
    }
}
.colorbar-warning {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 1.2rem;
    transform: translate(-50%, -50%);
    background: $color-medium-light;
    padding: 0px 0.8rem;
    color: $color-dark;
}

.colorbar {
    width: 255px;
    height: 12px;
}

.colorbar-label-container {
    margin-left: 1.3rem;
    height: 1rem;
    font-size: 1rem;
    line-height: 1rem;
    width: 255px;
    font-family: "Roboto Mono";
}

.colorbar-label {
    font-size: 1rem;
    position: absolute;
    top: 0px;
}

.colorbar-label.min {
    font-size: 1rem;
    left: 0px;
}

.colorbar-label.mid {
    font-size: 1rem;
    left: 50%;
    transform: translate(-50%, 0px);
}

.colorbar-label.max {
    font-size: 1rem;
    right: 0px;
}

.opacity-slider-container {
    width: 18rem;
    height: auto;
    position: absolute;
    top: 2.3rem;
    padding: 0.5rem;
    padding-right: 1rem;
    opacity: 0;
}

.position-controls-container {
    width: 12rem;
    height: 5.5rem;
    position: absolute;
    top: 1.8rem;
    padding: 0px !important;
    opacity: 0;
    text-align: center;
}

.position-controls-container,
.opacity-slider-container {
    z-index: -1;
    border-radius: 4px;
    background: $color-light;
    border: 1px solid $color-accent;
    transition: opacity 0.2s linear 0s, right 0s linear 0.21s, z-index 0.21s linear 0s;
    @include medium-shadow();
}

.opacity-slider-container {
    right: 7.3rem;
}

.opacity-slider-container.active {
    transition: opacity 0s linear 0s, right 0s linear 0s;
    opacity: 1;
    z-index: 1;
}

.position-controls-container {
    right: 9.8rem;
}

.position-controls-container.active {
    transition: opacity 0s linear 0s, right 0s linear 0s;
    opacity: 1;
    z-index: 1;
    padding: 0px !important;
}

.opacity-slider-container:after,
.opacity-slider-container:before,
.position-controls-container:after,
.position-controls-container:before {
    left: 100%;
    top: 50%;
    border: solid red;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.opacity-slider-container:after,
.position-controls-container:after {
    border-color: rgba(0, 0, 0, 0);
    border-left-color: $color-light;
    border-width: 10px;
    margin-top: -10px;
}

.opacity-slider-container:before,
.position-controls-container:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: $color-accent;
    border-width: 11px;
    margin-top: -11px;
}

// Gross Slider overrides
.opacity-slider-container {
    [data-react-toolbox="slider"] {
        & div > div:first-child > div {
            background: $color-accent;
        }
        & [data-react-toolbox="progress-bar"] {
            [data-ref="buffer"] {
                background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), linear-gradient(to right, $color-accent, $color-accent);
            }
            [data-ref="value"] {
                background-color: $color-accent;
            }
        }
    }
}

.opacity-label {
    text-align: right;
}

.layer-menu-header {
    color: $color-light;
    font-weight: 500;
}

.layer-menu-note {
    letter-spacing: 0.15em;
    background: $color-light;
    font-family: "Roboto Mono";
    font-size: 0.8em;
    line-height: 1rem;
    margin: 0px 15px;
    padding: 0.2rem 1rem;
    top: -1px;
    /*text-transform: uppercase;*/
    @include light-shadow();
    position: relative;
    font-weight: 400;
    border-radius: 2px;
    color: $color-medium-dark;
    .layer-menu-note-active {
        color: $color-accent;
    }
}

button.position-control-button {
    font-size: 1.2rem;
    height: 50%;
    min-width: initial;
}

#layerMenu {
    width: 370px;
    max-height: 31px;
    position: absolute;
    top: 42px;
    right: 10px;
    z-index: 0;
    background: $color-light;
    overflow: hidden;
    /*overflow: visible;*/
    padding: 0px;
    /*display: block;*/
    @include flex();
    @include flex-col();
    -webkit-transition: max-height 0.2s ease-out 0s;
    transition: max-height 0.2s ease-out 0s;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    @include light-shadow();
    .row {
        margin: 0px;
    }
}

#layerMenu.open {
    /*max-height: 200px;*/
    max-height: calc(75% - 96px);
}

#layerHeaderRow {
    min-height: 31px;
    padding: 0.3rem;
    background: $color-primary;
    color: $color-light;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    @include light-shadow();
}

#layerMenuContent {
    height: 100%;
    display: block;
    width: 100%;
    @include flex();
    @include flex-grow(1);
    .toggle {
        padding-left: 1.3rem;
        padding-right: 0px;
    }
    .border {
        border-bottom: $medium-light-border;
        padding-bottom: 0.7rem;
    }
    .__react_component_tooltip.place-left:before,
    .__react_component_tooltip.place-left:after {
        /* OVERRIDES FOR TOOLTIP IN SCROLL */
        font-size: 0px;
        left: 27px;
        position: relative;
        bottom: 4px;
    }
}
