.layer-control {
    padding: 0.2rem 0.5rem;
    width: 100%;
    margin: 0px;
}

.layer-control:last-child {
    border-bottom: none;
}

.layer-header {
    padding: 0px 0px 0px 1rem;
    margin: 0.5rem 0px 1rem 0px;
    font-size: 1.5rem;
}

.layer-toggle {
    margin-bottom: 0px;
}

.layer-pallete-icon {
    padding: 0px;
}

.colorbar-container {
    width: 100%;
    height: auto;
}
.colorbar-canvas {
    width: 255px;
    height: 12px;
}

#layerMenu {
    width: 380px;
    max-height: 32px;
    position: absolute;
    bottom: 0px;
    left: -387px;
    z-index: 1;
    background: $light;
    overflow: hidden;
    padding: 5px 8px;
    display: block;
    -webkit-transition: max-height 0.2s ease-out 0s;
    transition: max-height 0.2s ease-out 0s;
    border-right: $medium-light-border;
    border-top: $medium-light-border;
    border-left: $medium-light-border;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    @include light-shadow();
}

#layerMenu.open {
    max-height: 350px;
}

#layerMenuContent {
    max-height: 300px;
    display: block;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: content-box;
    padding-right: 25px;
}

#layer-header-row {
    padding-bottom: 5px;
    font-size: 1.5rem;
}

#layer-subheader-row {
    padding-bottom: 5px;
    font-size: 1.1rem;
    letter-spacing: 0.04em;
}
