.layerInfo {
    width: 350px;
    h2 {
        color: $color-text;
        margin-bottom: 0px;
    }
    h3 {
        color: $color-text;
        margin-top: 0px;
        margin-bottom: 1rem;
    }
    p {
        color: $color-text-secondary;
    }
    .thumbnail-image {
        background-size: cover;
        width: 100%;
        height: 200px;
        background-position: 50% 50%;
        border-top-right-radius: 0.2rem;
        border-top-left-radius: 0.2rem;
    }
    section {
        padding: 0px;
        @include flex();
        @include flex-col();
        height: 100%;
        overflow: hidden;
    }
    nav {
        display: none;
    }
    // .modal-menu-close {
    //     position: absolute;
    //     top: 0px;
    //     right: 0px;
    //     z-index: 2;
    //     color: white;
    //     margin-top: 1.2rem;
    //     margin-right: 1.2rem;
    //     [data-react-toolbox="font-icon"] {
    //         font-size: 2.5rem;
    //         line-height: 3.3rem;
    //     }
    // }
    .layerInfo-list > li > span {
        padding-left: 0.1rem;
        & > span > span {
            margin-right: 0rem;
        }
    }
    .layerInfo-content {
        padding: 1rem 1.6rem;
        @include flex();
        @include flex-col();
        @include flex-grow(1);
        overflow: hidden;
        overflow-y: auto;
    }
}
