.map-image-tile {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

.map-dimension-toggle {
    position: absolute;
    left: 0.7rem;
    bottom: 9rem;
}

.map-zoom-in {
    position: absolute;
    left: 0.7rem;
    bottom: 4.3rem;
}

.map-zoom-out {
    position: absolute;
    left: 0.7rem;
    bottom: 0.7rem;
}

.map-orientation-reset {
    position: absolute;
    left: 0.7rem;
    bottom: 13.4rem;
}

.map-scale-container {
    background: $color-light;
    color: $color-dark;
    width: 200px;
    border-radius: 0px;
    border-top-right-radius: 4px;
    position: absolute;
    left: 21.7rem;
    bottom: 0px;
    padding: 0.4rem 0px;
    line-height: 1.1;
    text-align: center;
    @include light-shadow-right();
    border-right: $medium-light-border;
    border-top: $medium-light-border;
    display: none;
}

.map-scale-container-inner {
    border: 1px solid $color-dark;
    border-top: none;
    font-size: 1.2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    will-change: contents, width;
}

.mouse-position-container {
    background: $color-light;
    color: $color-dark;
    width: 21rem;
    border-radius: 0px;
    font-size: 1.4rem;
    border-top-left-radius: 4px;
    position: absolute;
    left: 0.7rem;
    bottom: 0rem;
    padding: 0.4rem 0px;
    padding-left: 0.7rem;
    line-height: 1;
    @include light-shadow-left();
    border-left: $medium-light-border;
    border-top: $medium-light-border;
    display: none;
}

.mouse-position-container.isolate {
    border-right: $medium-light-border;
    border-top-right-radius: 4px;
}

.mouse-position-container.invalid {
    font-style: italic;
    font-size: 1.3rem;
}

.mouse-position-label {
    font-weight: 500;
    font-size: 1.4rem;
    font-style: normal;
    margin-right: 0.7rem;
}

.projection-string {
    font-weight: 400;
    letter-spacing: 0.02rem;
}

.mouse-position-string {
    margin-left: 1rem;
}

.cesium-viewer-bottom {
    display: none;
}

#mapContainer,
#mapContainer2D,
#mapContainer3D {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
    display: block;
}

#mapContainer {
    background-color: $color-dark;
    @include animation(opacityWithDisplayAnimationShow, 0.5s);
}

#mapContainer2D,
#mapContainer3D {
    background-color: darken($color-medium-light, 15%);
    @include animation(opacityWithDisplayAnimationShow, 0.5s);
}

#map2D,
#map3D {
    width: 100%;
    height: 100%;
}

#mapContainer2D.inactive,
#mapContainer3D.inactive {
    opacity: 0;
    display: none;
    @include animation(opacityWithDisplayAnimationHide, 0.5s);
}

#mapControls {
    position: absolute;
    bottom: 65px;
}

.cesium-viewer-bottom {
    display: none;
}

.cesium-viewer-vrContainer {
    // position: absolute;
    bottom: 5%;
    left: 8%;
    // padding: 0;
    width: 29px;
    height: 29px;
    // overflow: hidden;
}
