.settingsContainer {
    color: red;
    width: auto;
    max-width: 50%;
    h6 {
        margin-top: 0px;
        margin-bottom: 0px;
        z-index: 1;
        padding: 2rem;
        position: relative;
        background: $primary;
        color: white;
        @include medium-shadow();
    }
    section {
        padding: 0px;
        @include flex();
        @include flex-col();
        height: 100%;
        overflow: hidden;
    }
    nav {
        display: none;
    }
    .settings-close {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 2;
        color: white;
        margin-top: 1.2rem;
        margin-right: 1.2rem;
        [data-react-toolbox="font-icon"] {
            font-size: 2.5rem;
            line-height: 3.3rem;
        }
    }
    .settings-content {
        @include flex();
        @include flex-col();
        @include flex-grow(1);
        overflow: hidden;
        overflow-y: auto;
    }
    .base-map-preview-row {
        margin: 0px 1rem;
    }
    .base-map-preview {
        overflow: hidden;
        margin: 0px;
        margin-bottom: 1rem;
        outline: $medium-light-border;
    }
    .img-wrapper {
        background-color: $primary;
        height: 100px;
        width: 100%;
        position: relative;
    }
    .base-map-preview-img {
        min-width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 1;
    }
    .basemap-preview-label {
        width: 100%;
        height: 4rem;
        white-space: normal;
        overflow: hidden;
        background: $light;
        padding: 0.2rem 0.3rem;
        letter-spacing: 0.02rem;
        text-align: center;
    }
    .base-map-preview.active .basemap-preview-label {
        background-color: $primary;
        color: $light;
    }
    .base-map-preview.active {
        @include light-shadow();
    }
    .base-map-preview.active .img-wrapper {
        background-color: $primary;
    }
    .base-map-preview-img:hover {
        opacity: 0.85;
    }
    .base-map-preview.active .base-map-preview-img {
        opacity: 0.7;
    }
    #baseMapPreviewContainer {
        margin-bottom: 2rem;
    }
}
