.share-container {
    padding: 0px 1.6rem;
    height: 220px;
    button {
        margin-right: auto;
        margin-left: auto;
    }
    .emailIcon > [data-react-toolbox="font-icon"] {
        font-size: 2.6rem;
    }
    .permalink-text {
        width: 100%;
        font-size: 1.5rem;
        padding: 0.8rem;
        margin-bottom: 1rem;
    }
}
