.title-button {
    margin-right: 0.3rem;
    margin-left: 0.7rem;
}

.title-button:last-child {
    margin-right: 0.7rem;
}

#titleContainer {
    position: absolute;
    top: 0px;
    left: 0.7rem;
    width: auto;
    padding-top: 0px;
}

#appTitle {
    padding: 0px;
    padding-bottom: 0px;
    margin: 0px;
    margin-left: 4px;
    color: $color-light;
    text-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
    top: 1px;
    position: relative;
    font-weight: 800;
    letter-spacing: -0.09rem;
    font-size: 4.1rem;
}

#appSubtitle {
    color: $color-light;
    font-size: 1.5rem;
    text-transform: lowercase;
    font-feature-settings: "onum";
}
