body {
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

#loadingContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 5;
    opacity: 1;
    transition: top 0.5s linear 1s, opacity 0.25s linear 1s;
    -webkit-transition: top 0.5s linear 1s, opacity 0.25s linear 1s;
    background: white;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    color: #212121;
    letter-spacing: 4px;
    font-size: 10px !important;
}

.loadingBackground {
    opacity: 0.08;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPklEQVQYV2NkYGD4z8DAwMhAAMAUEFSMbBJexehW4lSMzW1YFePyBIZifL5FUUwoWOCKCSkEhS5YMTEKwYoB/a0KCrF16vQAAAAASUVORK5CYII=);
}

.test {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s !important;
    background-size: cover;
}

.loadingFloater {
    height: calc(100% - 70px);
    width: calc(100% - 70px);
    margin: auto;
    z-index: 1;
    position: relative;
    background: white;
    /*background-image: url("7994970.png");*/
    background-image: url("_core/styles/resources/img/7994970.png");
    box-shadow: 0px 18px 30px 0px rgba(0, 0, 0, 0.11);
    background-repeat: none;
    background-size: cover;
    border-radius: 2px;
}

#loadingHeader {
    font-weight: 300;
    display: inline;
    top: 30%;
    left: 40px;
    position: relative;
    line-height: 30px;
}

.loadingIntro {
    color: white;
    font-weight: bolder;
    position: relative;
    margin-left: 5rem;
    line-height: 1.1;
    padding-top: 1rem;
    text-transform: none;
}

.loadingAttribution {
    font-weight: bold;
    position: absolute;
    bottom: 40px;
    left: 40px;
    line-height: 1.1;
    border-bottom: 8px solid white;
}

.loader {
    position: relative;
    top: 2px;
    height: 19px;
    width: 19px;
    left: 10px;
    display: inline-block;
}

.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.circular {
    stroke-width: 5px;
    stroke-miterlimit: 10;
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke: #ec407a;
    -webkit-animation: dash 1.5s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
